@charset "utf-8";

html, body{
 height:100%; /* aqui definimos que o html e o body terão altura de 100% */
}
body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal; 
	/*background-image: url("#{resource['img:background_grey.jpg']}");
    background-repeat: repeat-yx;*/
    height:100%;
}

header {
	background: #438EB9;
}

header > div {
	margin-left: 8px;	
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}
#conteudo {
	padding: 0px 8px;
	
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}
.grid-login {
	background-color: #E6E6E6;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 20px;
}
.rotulo {
	width: 150px;
	  
}
.campo {
	
}

.ui-panelgrid td {
	height: 34px;
}
.ajax-status {
	position: fixed;
	top: 70px;
	right: 10px;
	width: 35px;
	height: 35px;
}

.produto-tabela input {
	width: 99%;
	display: block;
}

.ui-panelgrid td {
	height: 34px;
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px;
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em  !important;
}

.ui-tabs {
	padding: 0px !important;
}
.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui.tabs-top > .ui.tabs-nav {
	padding: 0px !important;
}

.menu-sistema {
	height: 25px;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: inherit !important;
    background: inherit !important; 
    color: #b94a48;
}

.ui-dialog .ui-dialog-content {
	padding: 5px !important; 
}

.panel-content{
 width:100%; height:auto; min-height:100%; /* aqui é onde acontece a mágica, a propriedade height:auto e min-height: 100% fará com que esta div ocupe sempre a altura total do navegador, mesmo quando redimensionado */
 background:blue;
}

.panel-grid{
	border: 0px !important;
	padding: 0px  !important;
	width: 100%
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-datatable-empty {
    background: #ffffff !important;
}
